body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 180px;
  background-color: #ffffff;
  border: 10px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  border-radius: 20px; 
}

.menu {
  padding: 10px;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #ddd;
}

.strategies {
  padding: 10px;
}

.strategy-item {
  padding: 10px;
  cursor: pointer;
}

.strategy-item:hover {
  background-color: #ddd;
}

.hidden {
  display: none;
}

.content {
  flex: 1;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}


label {
  margin-top: 10px;
}

input, select {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.status {
  color: green;
}

.coin {
  margin-bottom: 10px;
}

.normal-link {
  text-decoration: none;
  color: inherit; 
}